.ProductContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;

    
}

.ProductCard {

}

.ProductTop {}

.ProductTop img {
    width: 100%;
    height: 284px;
    object-fit: cover;
}

.ProductBottom {}

@media (min-width: 450px) {
    .ProductContainer{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1024px) {
    .ProductContainer{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1200px) {
    .ProductContainer{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}